<h1>Welcome to IrcWeb</h1>
<p>
  This web application is an attempt to extend the utility of an IRC network by
  adding functionality around it.
</p>
<p>
  So far IrcWeb provides access to searchable logs as well as direct downloads.
  The next component is a bot management interface.
</p>
